import javax.swing.*;
import javax.swing.border.TitledBorder;
import java.awt.*;
import java.awt.event.*;

/*
 * Programa: Examen Unidad 1
 * Fecha: 22/03/18
 * Autor: Edgar Antonio Salas González
 * 
 */

public class Principal extends JFrame {
	
	JButton Calcular;
	JLabel resulLabel;
	JTextField txtVelocidad;
	JTextField txtDistancia;
	JTextField txtTiempo;
	JTextField txtResul;
	
	Principal(){
		
		
		super("Calculadora Fisica");
		setResizable(false);
		setDefaultCloseOperation( EXIT_ON_CLOSE);
        GridBagConstraints restricciones = new GridBagConstraints();
		Container contenedorPrincipal = this.getContentPane();
		contenedorPrincipal.setLayout(new BoxLayout(contenedorPrincipal,BoxLayout.Y_AXIS));
        contenedorPrincipal.setBackground(Color.WHITE);

        TitledBorder border = new TitledBorder(" Entrada de datos ");
        border.setTitleJustification(TitledBorder.LEFT);
        border.setTitlePosition(TitledBorder.TOP);
        JPanel entradas = new JPanel();
        entradas.setBorder(border);
        entradas.setLayout(new GridBagLayout());
		
        TitledBorder border1 = new TitledBorder(" Calcular ");
        border1.setTitleJustification(TitledBorder.LEFT);
        border1.setTitlePosition(TitledBorder.TOP);
        JPanel salida = new JPanel();
        salida.setBorder(border1);
        salida.setLayout(new GridBagLayout());
		
		
		JLabel velocidad = new JLabel("Velodidad: ");
		txtVelocidad = new JTextField("0",5);
		txtVelocidad.setEditable(true);
		txtVelocidad.setForeground(Color.BLACK);
		txtVelocidad.setBackground(Color.WHITE);
		JLabel distancia = new JLabel("Distancia: ");
		txtDistancia = new JTextField("0",5);
		txtDistancia.setEditable(true);
		txtDistancia.setForeground(Color.BLACK);
		txtDistancia.setBackground(Color.WHITE);
		JLabel tiempo = new JLabel("Tiempo: ");
		txtTiempo = new JTextField("0",5);
		txtTiempo.setEditable(true);
		txtTiempo.setForeground(Color.BLACK);
		txtTiempo.setBackground(Color.WHITE);
		
		Calcular = new JButton("Calcular");
		resulLabel = new JLabel("Resultado: ");
		txtResul = new JTextField("",20);
		txtResul.setEditable(true);
		txtResul.setForeground(Color.BLACK);
		txtResul.setBackground(Color.WHITE);
		
        
		salida.add(Calcular);
		salida.add(resulLabel);
		salida.add(txtResul);
		entradas.add(velocidad);
		entradas.add(txtVelocidad);
		entradas.add(distancia);
		entradas.add(txtDistancia);
		entradas.add(tiempo);
		entradas.add(txtTiempo);
		
		
		contenedorPrincipal.add(entradas);
        contenedorPrincipal.add(salida);
        
        ActionButton listener = new ActionButton();
		Calcular.addActionListener(listener);
	}
	
	public static void main (String[] args) {
		Principal ventana = new Principal();
		ventana.setDefaultCloseOperation(JFrame.EXIT_ON_CLOSE);
		ventana.pack();
		ventana.setVisible(true);
	}
	class ActionButton implements ActionListener{
		
		@Override
		public void actionPerformed(ActionEvent e) {
			// TODO Auto-generated method stub
			
			//Velocidad
			if((txtDistancia.getText() != "0") &&(txtTiempo.getText() != "0")){
				double dis = Double.parseDouble(txtDistancia.getText());
				double tiempo = Double.parseDouble(txtTiempo.getText());
				double resul = dis / tiempo;
				String resul1 = String.valueOf(resul);
				resulLabel.setText("Velocidad: ");
				txtResul.setText(resul1);
			
			
		    }
		    //Tiempo
			if((txtDistancia.getText() != "0") &&(txtVelocidad.getText() != "0")){
				double dis = Double.parseDouble(txtDistancia.getText());
				double vel = Double.parseDouble(txtVelocidad.getText());
				double resul = dis / vel;
				String resul1 = String.valueOf(resul);
				resulLabel.setText("Tiempo: ");
				txtResul.setText(resul1);
			}
			//Distancia
			if((txtTiempo.getText() != "0") &&(txtVelocidad.getText() != "0")){
			    double tiempo = Double.parseDouble(txtTiempo.getText());
				double vel = Double.parseDouble(txtVelocidad.getText());
				double resul = tiempo * vel;
				String resul1 = String.valueOf(resul);
				resulLabel.setText("Distancia: ");
				txtResul.setText(resul1);
			   }
				
			}
	}
		
	
}
		

